### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

# testing
/coverage

psd
thumb
sketch
build

## cypress
cypress/screenshots
cypress/videos
cypress/support
.nyc_output