.carouselClass {
  height: 140px;
}

.carouselProductClass {
  height: 380px;
}

.classItem {
  text-align: center;
  border: '1px solid black';
}

.MuiTypography-root {
  font-size: 1.5rem;
  font-weight: bold;
}